<% include partials/header %>
<h1 class="red">Contact Info <i class="fa fa-address-card" aria-hidden="true"></i></h1>
<h1>HEllo WoRld</h1>
<h2>Coming soon !!! Stay tuned..........</h2>
<% include partials/footer %>