<% include partials/header %>
<h1 >Welcome to my WebSite <i class="fa fa-vk" aria-hidden="true"></i></h1>
<h3 class="red">This is my test site . I hope There will be more coming soon</h3>
<p class="text-primary">This is paragraph for me.</p>
<a href="/contact" class="btn btn-primary"> Contact Me <i class="fa fa-address-card" aria-hidden="true"></i></a>
<% include partials/footer %>