<% include partials/header %>
<h1 >Welcome to my WebSite <i class="fa fa-vk" aria-hidden="true"></i></h1>
<h3 class="red">This is my test site . I hope There will be more coming soon</h3>
<p class="text-primary">This is paragraph for me.</p>
<img src="https://images.unsplash.com/photo-1537869229483-c56ecf5aaf4e?ixlib=rb-0.3.5&s=ad529d44f6d40cc34ffda7b54e1c9fae&auto=format&fit=crop&w=1189&q=80">
<p> Made a new update again</p>
<!-- this is home page yes -->

<% include partials/footer %>